In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\pabli\Desktop\Health-Database\data\clean_full_data.csv")

In [6]:
df

,Unnamed: 0,country,country_code,year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,"Prevalence of previous diagnosis of hypertension among adults aged 30-79 with hypertension, crude",Mean hemoglobin level of women of reproductive age (aged 15-49 years),Number of deaths among children ages 5 to 9 years,Mortality rate among children ages 10 to 14 years (per 1000 children aged 10),"Mean Non-HDL cholesterol, age-standardized",Number of non-pregnant women (aged 15-49 years) with anaemia (thousands),Prevalence of anaemia in pregnant women (aged 15-49) (%),Mean hemoglobin level of non-pregnant women (aged 15-49 years),average_age,num_nan
0,2,Afghanistan,AFG,2002,2990.0,1311.0,429.0,2795.0,2883.0,1980.0,...,28.2,123.0,4420.0,4.67688,3.100000,1360.0,43.4,125.0,16.77425,19
1,3,Afghanistan,AFG,2003,3300.0,1326.0,434.0,3039.0,2188.0,2282.0,...,28.9,123.0,4532.0,4.55469,3.100000,1440.0,42.9,124.0,16.77425,19
2,4,Afghanistan,AFG,2004,3350.0,1344.0,439.0,3033.0,773.0,2386.0,...,29.6,123.0,4676.0,4.47444,3.100000,1530.0,42.4,124.0,16.77425,18
3,5,Afghanistan,AFG,2005,3238.0,1362.0,442.0,2879.0,545.0,2315.0,...,30.3,123.0,4821.0,4.43099,3.100000,1620.0,41.9,124.0,16.49000,15
4,6,Afghanistan,AFG,2006,3098.0,1381.0,446.0,2727.0,414.0,2235.0,...,31.1,123.0,5047.0,4.44194,3.100000,1690.0,41.4,124.0,16.77425,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,3575,Zimbabwe,ZWE,2015,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,30.2,126.0,2229.0,8.60679,2.900000,950.0,32.4,127.0,20.70300,10
3074,3576,Zimbabwe,ZWE,2016,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,31.0,126.0,2094.0,8.84993,2.900000,959.0,32.2,127.0,19.04000,15
3075,3577,Zimbabwe,ZWE,2017,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,31.9,126.0,1997.0,8.99209,2.800000,971.0,32.0,127.0,19.04000,19
3076,3578,Zimbabwe,ZWE,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,32.9,126.0,1921.0,9.06009,2.800000,989.0,31.8,127.0,19.04000,24
3077,3579,Zimbabwe,ZWE,2019,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,33.9,126.0,1858.0,9.05888,2.877778,1010.0,31.7,127.0,19.04000,33